<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SourceControl.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4C50EF9F1CAA63A10084AD62</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4C50EFB81CAA63A10084AD62</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4C50EFC31CAA63A10084AD62</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
